<div class="aside">
	<div class="winners">
		<div class="winners__nav">
			<button class="winners__btn btn_winners is-active">Сейчас выигрывают</button>
			<button class="winners__btn btn_winners">Топ-5 выигрышей</button>
		</div>
		<div class="winners__list">
			<div class="winners__item">
				<div class="winners__id">34685-784392-dfggfd</div>
				<div class="winners__amount">5250 грн.</div>
			</div>
			<div class="winners__item">
				<div class="winners__id">34685-784392-dfggfd</div>
				<div class="winners__amount">2230 грн.</div>
			</div>
			<div class="winners__item">
				<div class="winners__id">34685-784392-dfggfd</div>
				<div class="winners__amount">2130 грн.</div>
			</div>
			<div class="winners__item">
				<div class="winners__id">34685-784392-dfggfd</div>
				<div class="winners__amount">1830 грн.</div>
			</div>
		</div>
	</div>
	<div class="aside__jackpot jackpot">
		<h3>Джекпот казино</h3>
		<div class="jackpot__prize">
			<div class="jackpot__amount">2 250 000</div> 
			<div class="jackpot__currency">грн.</div>
		</div>
	</div>
	<div class="registration">
		<div class="registration__info">
			<h3>Регистрация</h3>
			<div class="registration__time">за 10 секунд!</div>
		</div>
		<button class="registration__btn btn_registr">Зарегистрироваться</button>
		<div class="registration__socials">
			<h4>или используйте:</h4>
			<div class="socials">
				<a href="#" class="socials__item"><img src="./img/logo_vk.svg" alt=""></a>
				<a href="#" class="socials__item"><img src="./img/logo_ok.svg" alt=""></a>
				<a href="#" class="socials__item"><img src="./img/logo_fb.svg" alt=""></a>
				<a href="#" class="socials__item"><img src="./img/logo_mail.svg" alt=""></a>
			</div>
		</div>
	</div>
</div>