<footer class="layout__footer">
	<div class="footer">
		<div class="footer__partners">
			<div class="partners">
				<img src="./img/partners_18.jpg" alt="18+">
				<img src="./img/partners_nl.png" alt="Національна лотерея">
				<img src="./img/partners_lt.png" alt="Лото-трійка">
				<img src="./img/partners_keno.png" alt="Кено">
				<img src="./img/partners_sl.png" alt="Супер лото">
				<img src="./img/partners_lm.png" alt="Лото Максима">
			</div>
		</div>
	<div class="footer__content">
		<div class="footer__left">
			<h3>Казино Космолот – онлайн-казино, созданное для вас!</h3>
			<p>Добро пожаловать на сайт клуба Космолот, где Вас ждут яркие впечатления, множество легендарных игр и реальные выигрыши!
			Чем мы отличаемся от других сайтов, предлагающих сыграть на автоматах онлайн?
			Создавая этот сайт, мы учитывали не только многолетний опыт и новые веяния в игровой индустрии, но и то, как мы представляем себе клуб, в котором хотелось бы проводить время, и куда было бы приятно возвращаться.
			Мы поддерживаем давние традиции казино Космолот в новой цифровой эре, шагая в ногу со временем, и предлагаем вашему вниманию излюбленные пользователями игры в простом и удобном интерфейсе. Мы - это классика жанра, ожившая в виртуальном мире; премиум-сервис, доступный каждому; воплощение ваших представлений об идеальном времяпровождении. И поэтому удовольствие клиента для нас не цель, а обязанность.</p>
			<div class="footer__nav">
				<ul class="footer-nav">
					<li><a href="#">О нас</a></li>
					<li><a href="#">Правила и условия</a></li>
					<li><a href="#">Программа ляльности</a></li>
					<li><a href="#">Кэшбек</a></li>
					<li><a href="#">Партнерская программа</a></li>
				</ul>                   
			</div>
			<div class="footer__contacts">
				<div class="contacts">+38 (099) 350 57 50</div>
				<div class="copyright">© 2018 Casino Kosmolot. Все права защищены.</div>
			</div>
		</div>
		<div class="footer__right">
			<div class="footer__payments">
				<div class="payments">
					<div class="payments__heading">Варианты оплаты</div>
					<div class="payments__items">
						<img src="./img/payment_mc.png" alt="Master Card">
						<img src="./img/payment_visa.png" alt="Visa">
						<img src="./img/payment_pb.png" alt="Приват Банк">
						<img src="./img/payment_wm.png" alt="WebMoney">
						<img src="./img/payment_bc.png" alt="bitcoin">
					</div>
				</div>
			</div>
			<button class="footer__btn-reg btn_registr">Зарегистрироваться</button>
			<div class="footer__help">
				<div class="help">
					<div class="help__heading">Помощь онлайн:</div>
					<div class="help__mail">otvet@kosmolot-casino.com </div>
				</div>
			</div>
		</div>
	</div>
	</div>
</footer>