<main class="layout__main">
	<div class="main">
		<h1 class="main__heading">Казино Космолот</h1>
		<div class="main__wrapper">

			<div class="main__items">
				<dix class="game-item">
					<img src="./img/item_aztec.png" alt="">
					<div class="game-item__hover">
						<h3>Aztec Secrets</h3>
						<div class="game-item__btns">
							<button class="game-item__btn btn_game-item">Играть</button>
							<button class="game-item__btn btn_game-item">демо</button>
						</div>
					</div>
				</dix>
				<div class="game-item">
					<img src="./img/item_idol.png" alt="">
					<div class="game-item__hover">
						<h3>Magic Idol</h3>
						<div class="game-item__btns">
							<button class="game-item__btn btn_game-item">Играть</button>
							<button class="game-item__btn btn_game-item">демо</button>
						</div>
					</div>
				</div>
				<div class="game-item">
					<img src="./img/item_red.png" alt="">
					<div class="game-item__hover">
						<h3>Red Chilli</h3>
						<div class="game-item__btns">
							<button class="game-item__btn btn_game-item">Играть</button>
							<button class="game-item__btn btn_game-item">демо</button>
						</div>
					</div>
				</div>
				<div class="game-item">
					<img src="./img/item_fire.png" alt="">
					<div class="game-item__hover">
						<h3>Fire & Ice</h3>
						<div class="game-item__btns">
							<button class="game-item__btn btn_game-item">Играть</button>
							<button class="game-item__btn btn_game-item">демо</button>
						</div>
					</div>
				</div>
				<div class="game-item">
					<img src="./img/item_monkey.png" alt="">
					<div class="game-item__hover">
						<h3>Diamond Monkey</h3>
						<div class="game-item__btns">
							<button class="game-item__btn btn_game-item">Играть</button>
							<button class="game-item__btn btn_game-item">демо</button>
						</div>
					</div>
				</div>
				<div class="game-item">
					<img src="./img/item_book.png" alt="">
					<div class="game-item__hover">
						<h3>Book of Fortune</h3>
						<div class="game-item__btns">
							<button class="game-item__btn btn_game-item">Играть</button>
							<button class="game-item__btn btn_game-item">демо</button>
						</div>
					</div>
				</div>
				<div class="game-item">
					<img src="./img/item_casanova.png" alt="">
					<div class="game-item__hover">
						<h3>Casanova</h3>
						<div class="game-item__btns">
							<button class="game-item__btn btn_game-item">Играть</button>
							<button class="game-item__btn btn_game-item">демо</button>
						</div>
					</div>
				</div>
				<div class="game-item">
					<img src="./img/item_pearl.png" alt="">
					<div class="game-item__hover">
						<h3>Dragons Pearl</h3>
						<div class="game-item__btns">
							<button class="game-item__btn btn_game-item">Играть</button>
							<button class="game-item__btn btn_game-item">демо</button>
						</div>
					</div>
				</div>
				<div class="game-item">
					<img src="./img/item_hot.png" alt="">
					<div class="game-item__hover">
						<h3>Hot Neon</h3>
						<div class="game-item__btns">
							<button class="game-item__btn btn_game-item">Играть</button>
							<button class="game-item__btn btn_game-item">демо</button>
						</div>
					</div>
				</div>
				<div class="game-item">
					<img src="./img/item_fruits.png" alt="">
					<div class="game-item__hover">
						<h3>All ways fruits</h3>
						<div class="game-item__btns">
							<button class="game-item__btn btn_game-item">Играть</button>
							<button class="game-item__btn btn_game-item">демо</button>
						</div>
					</div>
				</div>
				<div class="game-item">
					<img src="./img/item_bells.png" alt="">
					<div class="game-item__hover">
						<h3>Bells on fire</h3>
						<div class="game-item__btns">
							<button class="game-item__btn btn_game-item">Играть</button>
							<button class="game-item__btn btn_game-item">демо</button>
						</div>
					</div>
				</div>
				<div class="game-item">
					<img src="./img/item_shark.png" alt="">
					<div class="game-item__hover">
						<h3>Wild Shark</h3>
						<div class="game-item__btns">
							<button class="game-item__btn btn_game-item">Играть</button>
							<button class="game-item__btn btn_game-item">демо</button>
						</div>
					</div>
				</div>
				<div class="game-item">
					<img src="./img/item_aztec.png" alt="">
					<div class="game-item__hover">
						<h3>Aztec Secrets</h3>
						<div class="game-item__btns">
							<button class="game-item__btn btn_game-item">Играть</button>
							<button class="game-item__btn btn_game-item">демо</button>
						</div>
					</div>
				</div>
				<div class="game-item">
					<img src="./img/item_idol.png" alt="">
					<div class="game-item__hover">
						<h3>Magic Idol</h3>
						<div class="game-item__btns">
							<button class="game-item__btn btn_game-item">Играть</button>
							<button class="game-item__btn btn_game-item">демо</button>
						</div>
					</div>
				</div>
				<div class="game-item">
					<img src="./img/item_red.png" alt="">
					<div class="game-item__hover">
						<h3>Red chilli</h3>
						<div class="game-item__btns">
							<button class="game-item__btn btn_game-item">Играть</button>
							<button class="game-item__btn btn_game-item">демо</button>
						</div>
					</div>
				</div>
				<div class="game-item">
					<img src="./img/item_kingdom.png" alt="">
					<div class="game-item__hover">
						<h3>Fruits Kingdom</h3>
						<div class="game-item__btns">
							<button class="game-item__btn btn_game-item">Играть</button>
							<button class="game-item__btn btn_game-item">демо</button>
						</div>
					</div>
				</div>
				<div class="game-item">
					<img src="./img/item_monkey.png" alt="">
					<div class="game-item__hover">
						<h3>Diamond Monkey</h3>
						<div class="game-item__btns">
							<button class="game-item__btn btn_game-item">Играть</button>
							<button class="game-item__btn btn_game-item">демо</button>
						</div>
					</div>
				</div>
				<div class="game-item">
					<img src="./img/item_book.png" alt="">
					<div class="game-item__hover">
						<h3>Book of Fortune</h3>
						<div class="game-item__btns">
							<button class="game-item__btn btn_game-item">Играть</button>
							<button class="game-item__btn btn_game-item">демо</button>
						</div>
					</div>
				</div>
				<div class="game-item">
					<img src="./img/item_casanova.png" alt="">
					<div class="game-item__hover">
						<h3>Casanova</h3>
						<div class="game-item__btns">
							<button class="game-item__btn btn_game-item">Играть</button>
							<button class="game-item__btn btn_game-item">демо</button>
						</div>
					</div>
				</div>
				<div class="game-item">
					<img src="./img/item_burning.png" alt="">
					<div class="game-item__hover">
						<h3>Burning Hot</h3>
						<div class="game-item__btns">
							<button class="game-item__btn btn_game-item">Играть</button>
							<button class="game-item__btn btn_game-item">демо</button>
						</div>
					</div>
				</div>
				<div class="game-item">
					<img src="./img/item_hot.png" alt="">
					<div class="game-item__hover">
						<h3>Hot Neon</h3>
						<div class="game-item__btns">
							<button class="game-item__btn btn_game-item">Играть</button>
							<button class="game-item__btn btn_game-item">демо</button>
						</div>
					</div>
				</div>
				<div class="game-item">
					<img src="./img/item_fruits.png" alt="">
					<div class="game-item__hover">
						<h3>All ways fruits</h3>
						<div class="game-item__btns">
							<button class="game-item__btn btn_game-item">Играть</button>
							<button class="game-item__btn btn_game-item">демо</button>
						</div>
					</div>
				</div>
				<div class="game-item">
					<img src="./img/item_bells.png" alt="">
					<div class="game-item__hover">
						<h3>Bells on fire</h3>
						<div class="game-item__btns">
							<button class="game-item__btn btn_game-item">Играть</button>
							<button class="game-item__btn btn_game-item">демо</button>
						</div>
					</div>
				</div>
				<div class="game-item">
					<img src="./img/item_more.png" alt="">
					<a href="#" class="game-item__more">Ещe 500+ игр</a>
				</div>
				<button class="main__more">показать еще</button>
			</div>
		</div>

		{% include "partials/_aside.html" %}
		
	</div>
</main>