<nav class="layout__navigation">
	<div class="navigation">
		<div class="navigation__left">
			<button class="navigation__menu btn btn_menu js-btn-menu">{{mixins.icon('menu')}}</button>
			<ul class="navigation__list">
				<li><a href="#">Игровой зал</a></li>
				<li><a href="#">Акции</a></li>
				<li><a href="#">Зал славы</a></li>
				<li><a href="#">Турниры</a></li>
				<li><a href="#">Лотереи</a></li>
			</ul>
		</div>
		<div class="navigation__right">
			<input type="text" class="navigation__search" value="Искать игру ..."/>
		</div>
	</div>
</nav>