<section class="layout__nav-secondary">
	<div class="nav-secondary">
		<div class="nav-secondary__list">
			<button class="nav-secondary__btn btn btn_hover btn_nav-secondary">Популярные</button>
			<button class="nav-secondary__btn btn btn_hover btn_nav-secondary">Новые</button>
			<button class="nav-secondary__btn btn btn_hover btn_nav-secondary">Amatic</button>
			<button class="nav-secondary__btn btn btn_hover btn_nav-secondary">Aristocrat</button>
			<button class="nav-secondary__btn btn btn_hover btn_nav-secondary">Gaminator</button>
			<button class="nav-secondary__btn btn btn_hover btn_nav-secondary">Greentube</button>
			<button class="nav-secondary__btn btn btn_hover btn_nav-secondary">Igrosoft</button>
			<button class="nav-secondary__btn btn btn_hover btn_nav-secondary">IGT</button>
			<button class="nav-secondary__btn btn btn_hover btn_nav-secondary">Netent</button>
			<button class="nav-secondary__btn btn btn_hover btn_nav-secondary">Другие</button>
		</div>
	</div>
</section>